<h1>Display your Pirate here</h1>
<p><strong>Name:</strong> <%= @pirate_data[:pirate][:name]%></p>
<p><strong>Weight:</strong> <%= @pirate_data[:pirate][:weight]%></p>
<p><strong>Height:</strong> <%= @pirate_data[:pirate][:height]%></p>

<h2>Display your first ship here</h2>
<p><strong>Name:</strong> <%= @pirate_data[:pirate][:ships][0][:name]%></p>
<p><strong>Type:</strong> <%= @pirate_data[:pirate][:ships][0][:type]%></p>
<p><strong>Booty:</strong> <%= @pirate_data[:pirate][:ships][0][:booty]%></p>

<h2>Display your second ship here</h2>
<p><strong>Name:</strong> <%= @pirate_data[:pirate][:ships][1][:name]%></p>
<p><strong>Type:</strong> <%= @pirate_data[:pirate][:ships][1][:type]%></p>
<p><strong>Booty:</strong> <%= @pirate_data[:pirate][:ships][1][:booty]%></p>
