<h1>Display your Pirate here</h1>
<p>Name: <%= @pirate[:pirate][:name] %></p>
<p>Weight: <%= @pirate[:pirate][:weight] %></p>
<p>Height: <%= @pirate[:pirate][:height] %></p>

<h2>Display your first ship here</h2>
<p>Name: <%= @pirate[:pirate][:ships][0][:name] %></p>
<p>Type: <%= @pirate[:pirate][:ships][0][:type] %></p>
<p>Booty: <%= @pirate[:pirate][:ships][0][:booty] %></p>

<h2>Display your second ship here</h2>
<p>Name: <%= @pirate[:pirate][:ships][1][:name] %></p>
<p>Type: <%= @pirate[:pirate][:ships][1][:type] %></p>
<p>Booty: <%= @pirate[:pirate][:ships][1][:booty] %></p>
